*{ 

margin: 0;
padding: 0;
}


.inicio{ 
    background-color:#f70808;
    color: aliceblue;

 display: flex;
 justify-content: space-around;
 
}
.inicio-img{ 
     width: 50%;
     
}

.inicio-item{ 


    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
    
}
.inicio-item{ 


    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}
nav{
    color: aliceblue;
    text-decoration: none;
padding: 0px 50px 10px 0;
font-size: 20pt;
position: relative;


}
nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: aliceblue;
    position: absolute;
   bottom: 0%;
    left: 0;
transition: 0,5s ease-in-out;
}
nav a:hover ::after{
    width: 100%;
}

.imagens{
background-image: linear-gradient(red,black);
color: aliceblue;
}
.valorant{
    width: 25%;
}

.lol{ width: 25%;}

.rune{
    width: 25%;
}

    .footer{
background-color: black;
color: white;
    }
    
    